* {
    box-sizing: border-box;
    margin:0;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.hide {
    display: none;
}
.show {
    display: inline-block;
}
body {
    margin: .5%;
}
header {
    height: 10vh;
}
/*  Subject Selection */
nav#subjects {
    background-color: navajowhite;
    border-top: 1px solid black;
    text-transform: capitalize;

}
nav#subjects > ul {
    display: flex;
    justify-content: flex-start;
}

nav#subjects > ul > li{
    background-color:antiquewhite;
    border: 1px solid black;
    position: relative;
    top: -15px;
    list-style: none;
    border-radius: 10px;
    padding: .3rem 1rem;
    margin: 0 1.5rem 0 -1rem ;
}
nav#subjects > ul > li > a{
    color: black;
    text-decoration: none;
}
nav#subjects > ul > li > a:visited{
    text-decoration: none;
}

/* Main Body Aside and Page Content */


/* Side bar */
aside#side-bar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-top: 0;
    min-width: 205px;
    height: 100vh;
    width: 15%;
    background-color: navajowhite;    
}

#side-bar > div > ul{
    padding: .25rem 0;
}
#side-bar > div > ul > li {
    border: 1px solid black;
    color: black;
    /* margin-left: .5rem; */
    list-style-type: none;
    padding: .25rem;
    /* padding: .25rem 0; */
}
#side-bar > div > ul > li > ul > li{
    list-style-type: square;
}
#side-bar > div > ul > li > a:visited {
    color: black;
}
section#main-content{
    width: 85%;
}


main.flex-container {

    display: flex;

}

#main-content {
    text-align: center;
    width: 85%;
    height: 100vh;
}
#main-content > iframe {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 800px){
    header > h1 {
        font-size: 1.5rem;
    }
    #subjects > ul > li {
        padding: 0;
        font-size: .9rem ;
    }
    aside#side-bar {
        /* position: absolute; 
        transform: translate(-100%); 
        transition: all .65s; */
    }
    aside#side-bar  {

        flex-direction: row;
        width: 100%;
        height: 10%;
    }
    aside#side-bar > .sidebar-subject {
        font-size: 85%;
        max-height: 100px;
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
    }
    aside#side-bar > .sidebar-subject > ul > li {
        border: none;
        display: inline-block;
        position: relative;
        /* margin: ; */
    }
    aside#side-bar > .sidebar-subject > ul > li > ul > li{
        border: none;
        display: inline-block;

    }
    main.flex-container {
        /* display: flex; */
        flex-direction: column;
    }
    #main-content {
        text-align: center;
        width: 100vw;
        height: 100vh;
    }
    #main-content#instructions {
        width: 100vw;
    }
    #main-content > iframe {
        /* border: 2px solid blue; */
        width: 120%;
        height: 100vh;
    }
    

} 
